# Loading of best model

In [2]:
import pandas as pd
import joblib

In [3]:
fname='KNN_regV2.sav'
save_model=joblib.load(fname)
print(save_model)

KNeighborsRegressor(n_neighbors=2)

In [4]:
#Entering Raw data
surface=[130,120,150,160]
rooms_new=[5,7,9,4]
zipcode_new=[1025,1030,1080,1090]
raw_data=pd.DataFrame({'surface':surface,'rooms_new':rooms_new,'zipcode_new':zipcode_new})
raw_data

   surface  rooms_new  zipcode_new
0      130          5         1025
1      120          7         1030
2      150          9         1080
3      160          4         1090

In [5]:
save_model.predict(raw_data)

array([545000., 687500., 892500., 572250.])